* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $lightBlue;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-items: center;
}

h1 {
    position: relative;
    top: 10px;
    z-index: 10;
    text-shadow: none;
    font-size: 45px;
    font-style: italic;
    text-shadow: 2px 1px 1.5px rgb(0, 0, 46);
}

#root {
    position: relative;
    // height: 200px;
    width: 85%;
}